@page
@model WebServer.Pages.Identity.SignUpModel
@{
}

<div>
      <h4>Sign-Up with a social Account</h4>
      <partial name="Shared/_LogInSignUpSwitch" model=@(new _LogInSignUpSwitchModel{ SignUpActive = true, ReturnUrl = Model.ReturnUrl })/>
      @{
        var providers = (await Model.signInManager.GetExternalAuthenticationSchemesAsync()).ToList();
        <form asp-route-returnurl="@Model.ReturnUrl" method="post" asp-page-handler="ExternalLogin">
           <div class="centerChildren">
                <div>     
                    @foreach (var provider in providers)
                    {
                        <button type="submit" value="@provider.Name" name="provider">@provider.Name</button>
                    }
                </div>
            </div>
        </form>
      }
</div>



