<div class="NavMenuContainer">
    <NavLink href="/" Match="NavLinkMatch.All" class="NavElement">
        <h5>Dashboard</h5>
    </NavLink>
    @if(User.HasTeamClaims())
    {
        <NavLink href="/Channels" Match="NavLinkMatch.Prefix" class="NavElement">
            <h5>Channels</h5>
        </NavLink>
        <NavLink href="/Topics" Match="NavLinkMatch.Prefix" class="NavElement">
            <h5>Topics</h5>
        </NavLink>
    }
    @if(User.IsAdmin())
    {
        <NavLink href="/ManageTeam" Match="NavLinkMatch.Prefix" class="NavElement">
            <h5>Manage @User.GetTeamName()</h5>
        </NavLink>
    }
    <div class="NavElement NoUnderline">
        <TeamsOverviewComp/>
    </div>
    <div class="NavElement">
        <h5 @onclick="() => Modal.Show<CreateTeamComp>()">Create New Team</h5>
    </div>
</div>
