@inherits LayoutComponentBase
@layout MainLayout
@inject IJSRuntime jsRuntime

<div class="DasboardLayoutContainer">
    <aside id="aside">
        @if (expandedAside)
        {
            <TenantAsideOverviewComponent/>
        }
        else
        {
            <TenantAsideComponent/>
        }
        @if (expandedAside)
        {
            <img @onclick="async() => await ShrinkAside()" style="transform: rotate(180deg);" src="/Icons/angle-double-right.png"/>
        }
        else
        {
            <img @onclick="async() => await ExpandAside()" src="/Icons/angle-double-right.png"/>
        }
    </aside>
    <div class="Body">
        @Body
    </div>
</div>

@code{
    private bool expandedAside;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string token = await jsRuntime.InvokeAsync<string>("getAntiForgeryToken");
            Console.WriteLine(token);
        }
    }
    private async Task ExpandAside()
    {
        await jsRuntime.InvokeVoidAsync("expandAside");
        await Task.Delay(300);
        expandedAside = true;
    }
    private async Task ShrinkAside()
    {
        await jsRuntime.InvokeVoidAsync("shrinkAside");
        await Task.Delay(300);
        expandedAside = false;
    }
}