@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime

<div class="page">
    <nav>
        <div class="LogoContainer">
            <img class="logo"/>
            <a href="/">
                <h1>AsyncAnalytics</h1>
            </a>
        </div>
        <div class="TitleAsideContainer">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink href="Product">
                        <h3>Product</h3>
                    </NavLink>
                    <NavLink href="AboutUs">
                        <h3>AboutUs</h3>
                    </NavLink>
                    <NavLink href="Careers">
                        <h3>Careers</h3>
                    </NavLink>
                    <div class="LoginDisplayContainer">
                        <LoginDisplayComponent/>
                    </div>
                </NotAuthorized>
                <Authorized>
                    <ProfileComponent/>
                </Authorized>
            </AuthorizeView>           
        </div>
    </nav>
    <AuthorizeView>
        <Authorized>
            <main class="MainAuthenticated">
                <aside id="aside">
                    @if (expandedAside)
                    {
                        <TenantAsideOverviewComponent/>
                    }
                    else
                    {
                        <TenantAsideComponent/>
                    }
                    @if (expandedAside)
                    {
                        <img @onclick="async() => await ShrinkAside()" style="transform: rotate(180deg);" src="/Icons/angle-double-right.png"/>
                    }
                    else
                    {
                        <img @onclick="async() => await ExpandAside()" src="/Icons/angle-double-right.png"/>
                    }
                </aside>
                <div>
                    @Body
                </div>
            </main>
        </Authorized>
        <NotAuthorized>
            <main>
                @Body
            </main>
            <footer>
                <AntiForgeryTokenInput/>
            </footer>
        </NotAuthorized>      
    </AuthorizeView>
</div>

@code{
    private bool expandedAside;
    protected override async Task OnInitializedAsync()
    {
        await jsRuntime.InvokeVoidAsync("hideLoadingScreen");
    }
    private async Task ExpandAside()
    {
        await jsRuntime.InvokeVoidAsync("expandAside");
        await Task.Delay(300);
        expandedAside = true;
    }
    private async Task ShrinkAside()
    {
        await jsRuntime.InvokeVoidAsync("shrinkAside");
        await Task.Delay(300);
        expandedAside = false;
    }
}