@inherits LayoutComponentBase

<div class="page">
    <nav>
        <div class="LogoContainer">
            <img class="logo"/>
            <h1>AsyncAnalytics</h1>
        </div>
        <div class="TitleAsideContainer">
            <h3>Product</h3>
            <h3>AboutUs</h3>
            <h3>Careers</h3>
            <div class="LoginDisplayContainer">
                <LoginDisplay/>
            </div>
        </div>
    </nav>
    <main>
        @Body
    </main>
    <footer>
        <AntiForgeryTokenInput/>
    </footer>
</div>
