@inherits LayoutComponentBase

<div class="page">
    <nav>
        <div class="LogoContainer">
            <img class="logo"/>
            <h1>AsyncAnalytics</h1>
        </div>
    </nav>
    <main>
        @Body
    </main>
    <footer>
        <AntiForgeryTokenInput/>
    </footer>
</div>
