@page "/"
@using WebClient
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>LearnLive</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/defaults.css" />
    <link href="WebClient.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="WebAssembly" />

    <script src="_framework/blazor.webassembly.js"></script>
    <script src="~/js/antiForgeryToken.js"></script>
    @Html.AntiForgeryToken()
</body>
</html>