@inherits InviteMemberCompBase


<div class="InviteUserToTeamContainer">
    <h3>Invite User through their E-Mail addresses to Team</h3>
    @foreach(var email in emailAddresses)
    {
        <div class="EmailSection">
            <h5>@email</h5>
            <button class="EmailRemoveButton" @onclick="() => emailAddresses.Remove(email)">Remove</button>
        </div>       
    }
    <div class="form-group">
        <label>E-Mail @valid</label>
        <input @bind="currentMail" @bind:event="oninput" type="text" @onkeydown="OnKeyDown"/>
    </div>
    <button @onclick="async() => await InviteUsersAsync()">Invite Users</button>
</div>
