@page
@model WebServer.Pages.Identity.TeamManagement.ManagePlanModel
@{
}

<h2>Your Current Plan: @Model.Team.Subscription.SubscriptionPlan.Name</h2>
<h5>@Model.Team.Subscription.SubscriptionPlan.Description</h5>

<h4>Change Plan</h4>

<form asp-controller="Stripe" asp-action="CancelSubscription" method="post">
    <button type="submit">Cancel your Plan</button>
</form>

@foreach(var item in Model.SubscriptionPlans)
{
    <form asp-controller="Stripe" asp-action=@($"RedirectToStripe{item.Name}Subscription") method="post">
        <input name="quantity" type="number" />
        <button type="submit" id="checkout-button">@($"RedirectToStripe{item.Name}Subscription")</button>
    </form>   
}



