@inherits BaseComponent

<div class="CurrentTenantDisplayComponent">
    <div class="LogoNameSection">
        @if(User.IsInRole(RoleConstants.User))
        {
            <h4>@TenantName</h4>
            @if(User.IsInRole(RoleConstants.Admin))
            {
                <div class="RoleDisplay"> 
                    <h5>Admin</h5>
                </div>
            }
        }       
    </div>  
</div>

