.RenderBody {
    display: grid;
    place-content: center;
    width: 100%;
}
.BurgerMenu{
    height: 34px;
    width: 34px;
    cursor: pointer;
}
.ExpandableNavMenu {
    width: 100%;
    height: 0;
    transition: 0.25s;
    z-index: 2;
    background-color: orange;
}
.ExpandableMenuIcon {
    display: none;
}
@media screen and (max-width: 550px){
    .Links{
        display: none;
    }
    .ExpandableMenuIcon {
        display: block;
    }
    .ExpandableNavMenu{
        display: block;
    }
}
@media screen and (min-width: 550px){
    .ExpandableNavMenu{
        display: none;
    }
}