<div class="MetricsContainer card">
    <h5>Users in your team: @TeamMetrics.TotalUserCount</h5>
    <h5>Invited Users in your team: @TeamMetrics.InvitedUserCount</h5>
    <h5>Joined Users in your team: @TeamMetrics.JoinedUserCount</h5>
</div>
