<h5>Manage the Users</h5>

<table>
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Members)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    @if(user.Id == User.GetId())
                    {
                        <button>YourSelf</button>
                    }
                    else
                    {
                        <button @onclick="() => Modal.Show<ChangeRoleOfMemberComp>()">Change Role</button>
                        <button @onclick="() => Modal.Show<RemoveMemberComp>()">Remove Member</button>
                    }     
                </td>
            </tr>
        }
    </tbody>
</table>

<button @onclick="() => Modal.Show<InviteMemberComp>()">Invite Users to Team</button>

@code{
    [Parameter] public List<MemberDTO> Members { get; set; }
}
