@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CrispyCollab</title>
    <link rel="stylesheet" href="~/css/defaults.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/WebServer.styles.css" rel="stylesheet" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍕</text></svg>">
</head>
<body>
    <div class="page">
    <nav>
        <div class="LogoContainer">
            <img class="logo"/>
            <a href="/">
                <h1>CrispyCollab 🍕</h1>
            </a>
        </div>
        @if(User.Identity.IsAuthenticated is false)
        {
            <div class="TitleAsideContainer">
                <div class="Links">
                    <a asp-page="/landingpages/product"><h3>Product</h3></a>
                    <a asp-page="/landingpages/aboutUs"><h3>AboutUs</h3></a>
                    <a asp-page="/landingpages/carreers"><h3>Carreers</h3></a>
                    <a asp-page="/identity/login"><h3 class="LoginButton">LogIn</h3></a>
                </div>
                <div id="ExpandableNavMenuIcon" class="ExpandableMenuIcon">
                    <img class="BurgerMenu" src="/Icons/menu-burger.png"/>
                </div>
            </div>
        }
        @if(User.Identity.IsAuthenticated is true)
        {
            <div class="TitleAsideContainer">
                <div class="Links">
                    <h3>Welcome @User.Identity.Name</h3>
                </div>
                <div id="ExpandableNavMenuIcon" class="ExpandableMenuIcon">
                    <img class="BurgerMenu" src="/Icons/menu-burger.png"/>
                </div>
            </div>
        }
    </nav>
    <main style="padding: 0;">
        <div id="ExpandableNavMenu" class="ExpandableNavMenu">

        </div>
        <div class="Main">
            @RenderBody()
        </div>        
    </main>
    <footer>
        
    </footer>
</div>
</body>
</html>


