main {
    padding: 0 15 15 0;
    height: 100%;
}
nav{
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    display: flex;
    flex-direction: row;
}
nav div {
    flex: 1 1 0px;
    height: 36px;
}
.Body{
    left: 200;
    right: 15;
    top: 70;
    bottom: 15;
    position: absolute;
}
aside {
    border: 2px solid rgba(255, 255, 255, 0.18);
    margin: 15px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    background: rgba(152, 203, 255, 0.4);
    height: calc(100% - 30px);
}
.HomeSectionContainer{
    height: 100%;
    display: grid;
    justify-content: start;
    align-content: end;
}
.HomeSection{
    display: flex;
    flex-direction: row;
}
.LogoContainer {
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: end;
}
.ProfileContainer {
    height: 100%;
    display: grid;
    align-content: end;
    justify-content: end;
}
.HomeLogo{
    height: 30px;
    cursor: pointer;
}
.HomeIconContainer{
    height: 35px;
    width: 100%;
    padding-left: 5px;
}
.CurrentTenantDisplayComponentContainer {
    height: 55px;
    width: 100%;
}
