<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AsyncAnalytics</title>
    <link rel="stylesheet" href="~/css/defaults.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/WebAPI.styles.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
    <nav>
        <div class="LogoContainer">
            <img class="logo"/>
            <a href="/">
                <h1>AsyncAnalytics</h1>
            </a>
        </div>
        <div class="TitleAsideContainer">
            @if (User.Identity.IsAuthenticated)
            {
                <h3>Welcome @User.Identity.Name</h3>          
            }
        </div>
    </nav>
    <main>
        <div class="RenderBody">
            @RenderBody()
        </div>
    </main>
    <footer>
        
    </footer>
</div>
</body>
</html>
