<div class="CurrentTenantDisplayComponent">
    @if(Tenant != null)
    {
        <div class="LogoNameSection">
            <img src="@Tenant.IconUrl" />
            <h2>@Tenant.Name</h2>
        </div>  
    }
</div>

@code{
    [Parameter]
    public TeamDTO Tenant { get; set; }
}
