<div class="NavMenuContainer">
    <NavLink href="/" Match="NavLinkMatch.All" class="NavElement">
        <h3>Dashboard</h3>
    </NavLink>
    <NavLink href="/Notifications" Match="NavLinkMatch.Prefix" class="NavElement">
        <h3>Notifications</h3>
    </NavLink>
    <NavLink href="/Integrations" Match="NavLinkMatch.Prefix" class="NavElement">
        <h3>Integrations</h3>
    </NavLink>
    <div class="NavElement NoUnderline">
        <TeamsOverviewComponent/>
    </div>
    <div class="NavElement">
        <h3 @onclick="() => Modal.Show<CreateTeamModalComponent>()">Create Team</h3>
    </div>

</div>

@code{
    [CascadingParameter] public IModalService Modal { get; set; }
}