@page "/"
@{
    Layout = null;
}

<html lang="en">
<!DOCTYPE html>
@if(User.Identity.IsAuthenticated)
{
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>LearnLive</title>
        <base href="~/" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/defaults.css" />
        <link rel="stylesheet" href="~/css/LoadingScreen.css"/>
        <link href="WebWasmClient.styles.css" rel="stylesheet" />
    </head>
    <body>
        <div id="loadingBackground">
            <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        <div>
            <component type="typeof(WebWasmClient.App)" render-mode="WebAssembly"/>
        </div>
        <script src="_framework/blazor.webassembly.js"></script>
        <script src="~/js/antiForgeryToken.js"></script>
        @Html.AntiForgeryToken()
    </body>
}
else
{
    Layout = "_Layout";

    <partial name="/Pages/LandingPages/_Index.cshtml"/>
}

<script src="~/js/site.js"></script>
<script src="~/js/antiForgeryToken.js"></script>
@Html.AntiForgeryToken()
</html>

