<div>
    @if(AdminNotifications is not null)
    {
        foreach(var notification in AdminNotifications)
        {
            <div>
                @notification.CreatedAt
                @notification.Message
            </div>
        }
    }
</div>
