@attribute [Authorize]
@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager

<div class="page">
    <aside>
        <div class="SelectedTenantIconContainer">

        </div>
        <NavMenu/>
    </aside>
    <main>
        <nav>
            <div class="Filler"></div>
            <div class="LogoContainer">
                <div>
                    <a href="/">
                        <h1>AsyncAnalytics</h1>
                    </a>
                </div>    
            </div>
            <div class="ProfileContainer">
                <div>
                    <ProfileComponent/>
                </div>
            </div>
        </nav>
        <div class="Body">
            @Body
        </div>
    </main>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("hideLoadingScreen");
        }
    }
}
