nav div {
    flex: 1 1 0px;
    height: 36px;
}
main {
    padding-top: 0;
    height: calc(100% - 70px);
}
.HomeSectionContainer{
    height: 100%;
    display: grid;
    justify-content: start;
    align-content: end;
}
.HomeSection{
    display: flex;
    flex-direction: row;
}
.LogoContainer {
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: end;
}
.ProfileContainer {
    height: 100%;
    display: grid;
    align-content: end;
    justify-content: end;
}
.HomeLogo{
    height: 30px;
    cursor: pointer;
}
.HomeIconContainer{
    height: 35px;
    width: 100%;
    padding-left: 5px;
}