.MainAuthenticated{
    display: flex;
    height: calc(100vh - 70px);
}
aside {
    width: 80px;
    transition: 0.3s;
    height: 100%;
    background-color: rgba(135, 206, 235, 0.4);
    border: 1px solid white;
}
.HomeLogo{
    height: 40px;
    cursor: pointer;
}
main{
    padding-top: 0;
    display: flex;
    flex-direction: row;
}