@using System.Text.Json
@using System.Net
@inject IHttpClientFactory httpClientFactory

<div class="NavMenuContainer">
    <NavLink href="">
        <h3>
            Dashboard
        </h3>
    </NavLink>
    <div>
        <h3>Groups</h3>
    </div>
    @if(tenants != null)
    {
        foreach(var tenant in tenants)
        {
            
        }
    }
    <div>
        <h3 @onclick="() => Modal.Show<CreateNewTenantModalComponent>()">Create new Group</h3>
    </div>
</div>

@code{
    [CascadingParameter] public IModalService Modal { get; set; }
    private List<TenantInformationDTO> tenants;
    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage hrm = await httpClientFactory.CreateClient("authorizedClient").GetAsync("/api/tenant/all");
        if(hrm.StatusCode == HttpStatusCode.OK)
        {
            tenants = JsonSerializer.Deserialize<List<TenantInformationDTO>>(await hrm.Content.ReadAsStringAsync());
        }
    }
}