@layout BaseLayout
@inherits LayoutComponentBase

<aside>
    <div class="CurrentTenantDisplayComponentContainer">
        <SelectedTeamDisplayComp/>
    </div>
    <NavMenu/>
</aside>
<main>
    <nav>
        <div class="Filler"></div>
        <div class="LogoContainer">
            <div>
                <a href="/">
                    <h1>CrispyCollab</h1>
                </a>
            </div>    
        </div>
        <div class="ProfileContainer">
            <div>
                <ProfileComponent/>
            </div>
        </div>
    </nav>
    <div class="Body">
        @Body
    </div>
</main>
