@page "/"
@{
    Layout = null;
}

<html lang="en">
<!DOCTYPE html>
@if(User.Identity.IsAuthenticated)
{
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>CrispyCollab</title>
        <base href="~/" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/defaults.css" />
        <link rel="stylesheet" href="~/css/LoadingScreen.css"/>
        <link rel="stylesheet" href="~/css/BlazorModalStyles.css" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍕</text></svg>">
        <link href="Web.Client.styles.css" rel="stylesheet" />
        <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    </head>
    <body>
        <div class="AntiforgeryTokenContainer">
            @Html.AntiForgeryToken()
        </div>
        <div id="loadingBackground">
            <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        <div>
            <component type="typeof(App)" render-mode="WebAssembly"/>
        </div>
        <script src="_framework/blazor.webassembly.js"></script>
        <script src="_content/Blazored.Modal/blazored.modal.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/js/antiForgeryToken.js"></script>
    </body>
}
else
{
    Layout = "_Layout";

    <partial name="/Pages/LandingPages/_Index.cshtml"/>
    <script src="~/js/site.js"></script>
}
</html>

