@page "/"
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] ModularMonolith</title>
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/defaults.css" />
    <link rel="stylesheet" href="~/css/LoadingScreen.css" />
    <link rel="stylesheet" href="~/css/BlazorModalStyles.css" />
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    <link rel="stylesheet" href=@($"{TailwindSourceConstant.TailwindOutputPath}") />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍕</text></svg>">
</head>
<body class="h-screen bg-gradient-to-b from-sky-50 to-sky-200 grid place-content-center">
    @if (User.Identity.IsAuthenticated)
    {
        <component type="typeof(App)" render-mode="WebAssembly" />
        <script src="_framework/blazor.webassembly.js"></script>
        <script src="_content/Blazored.Modal/blazored.modal.js"></script>
    }
    else
    {
        <link rel="stylesheet" href="Web.Server.styles.css" />
        <component type="typeof(LandingPagesApp)" render-mode="Server" />
        <script src="_framework/blazor.server.js"></script>
    }

</body>
</html>