@inject HostAuthenticationStateProvider hostAuthenticationProvider
@using Microsoft.AspNetCore.Components.Authorization
@using Web.Client.BuildingBlocks.Authentication

<AuthorizeView>
    <Authorized>
        <div class="ProfileSection">
            <h4>@context.User.Identity.Name</h4>
            <img @onclick="() => hostAuthenticationProvider.GoToManageAccount()" class="SettingSlider" src="/Icons/settings-sliders.svg"/>
            <img class="ProfilePicture" src="@context.User.Claims.First(claim => claim.Type == "picture").Value" />
            <h4 class="LogoutButton" @onclick="() => hostAuthenticationProvider.SignOut()">Logout</h4>            
        </div> 
    </Authorized>
</AuthorizeView>
