@page "/about"

<div class="h-full w-full pt-[60px] grid laptop:grid-rows-[1fr_1fr_0.75fr_0.75fr_0.55fr] laptop:grid-cols-[1fr_480px] pb-14">
    <div id="Title" class="laptop:row-[1/3] laptop:col-[1/2] w-full flex items-center mt-[-60px] laptop:col-[1/2] pr-[20px]">
        <div>
            <h1 class="text_3xlg font-semibold mb-[10px]">Helping you to stay connected with your business colleagues</h1>
            <h3 class="text_lg">The goal of ContactCone is to be your platform for managing business contacts and enhancing meaningfull interactions with your colleagues.</h3>
        </div>
    </div>
    <div class="laptop:row-[3/4] laptop:col-[1/2] w-full">
        <h3 class="text_xlg font-semibold mb-1">The Idea</h3>
        <h3 class="text_lg">
            Searching for a startup idea I asked family members and friends if they encounter any inefficiencies in their jobs. My father and a friend responded immediately.
            Managing our business network is a pain! Working as sales professionals they both have accumulated thousands of leads through their career. While making new connections through
            LinkedIn is relatively easy, staying meaningufully connected is not. ContactCone's goal is to fix that.
        </h3>
    </div>
    <div class="laptop:row-[4/5] laptop:col-[1/2] w-full">
        <h3 class="text_xlg font-semibold mb-1">Myself</h3>
        <h3 class="text_lg">
            My name is David Eggenberger and I am 25 years old. In high-school my primary interests were social sciences. I really enjoyed History and Business lessons.
            After high-school graduation I've discovered my interest for programming. It followed my also through my business studies. Utilizing the learning to build my own startup is my dream.
            ContactCone is my first try to do so.
        </h3>
    </div>
    <div class="laptop:row-[5/6] laptop:col-[1/2] w-full">
        <h3 class="text_xlg font-semibold mb-1">The Journey</h3>
        <h3 class="text_lg">
            I dont intend trying to get external funding for ContactCone. Organically growing the venture with my own resources seems a more suitable approach. 
            I would love to have you on-board of this journey! Hopefully ContactCone can solve a pressing need of yours on the way. That would really mean something to me. Feel free
            to <a class="underline underline-offset-2 decoration-strawberry decoration-2" href="mailto:david.eggenberger@contactcone.com">contact me</a> if you have feature requests, ideas, critiques etc.
        </h3>
    </div>
    <div class="laptop:row-[1/3] laptop:col-[2/3] tablet:min-w-[320px] laptop:min-w-[480px] mobile:hidden tablet:flex gap-x-[20px] flex-row justify-end">
        <div class="tablet:mt-[240px] mobile:hidden laptop:block">
            <div class="grid place-content-center justify-items-center gap-y-1">
                <img src="/img/about/Logo.png" class="tablet:h-[180px] laptop:h-[190px] rounded-[10px]" />
                <h3 class="text_sm">The logo</h3>
            </div>
        </div>
        <div class="mt-[120px]">
            <div class="grid place-content-center justify-items-center gap-y-1">
                <img src="/img/about/iceCreamMigros.jpg" class="tablet:h-[180px] laptop:h-[190px] rounded-[10px]" />
                <h3 class="text_sm">Raspberry IceCream</h3>
            </div>
            <div class="grid place-content-center justify-items-center gap-y-1 mt-4">
                <img src="/img/about/stgallen.jpg" class="tablet:h-[180px] laptop:h-[190px] rounded-[10px]" />
                <h3 class="text_sm">The hometown</h3>
            </div>
        </div>
        <div>
            <div class="grid place-content-center justify-items-center gap-y-1 mt-4">
                <img alt="David Eggenberger" src="/img/about/myself.jpg" class="tablet:h-[180px] laptop:h-[190px] rounded-[10px]" />
                <h3 class="text_sm">Myself</h3>
            </div>
            <div class="grid place-content-center justify-items-center gap-y-1 mt-4">
                <img src="/img/about/coneMigros.jpg" class="tablet:h-[180px] laptop:h-[190px] rounded-[10px]" />
                <h3 class="text_sm">IceCream cones</h3>
            </div>
        </div>
    </div>
    <div class="laptop:row-[3/6] laptop:col-[2/3] w-full flex flex-row gap-x-[20px] justify-end items-end">
        <div class="tablet:mt-[106px] mobile:hidden laptop:block">
            <div class="grid place-content-center gap-y-1 mb-[120px]">
                <div class="tablet:h-[180px] laptop:h-[190px] w-[142.5px] rounded-[10px] bg-white-3 grid place-content-center">
                    <img src="/img/about/heart.png"/>
                </div>
                <h3 class="text_sm">Thanks for visiting!</h3>
            </div>
        </div>
        <div class="">
            <div class="grid place-content-center justify-items-center gap-y-1">
                <img src="/img/about/iceCreamMigros.jpg" class="tablet:h-[180px] laptop:h-[190px] rounded-[10px]" />
                <h3 class="text_sm">Raspberry IceCream</h3>
            </div>
            <div class="grid place-content-center justify-items-center gap-y-1 mt-4">
                <img src="/img/about/stgallen.jpg" class="tablet:h-[180px] laptop:h-[190px] rounded-[10px]" />
                <h3 class="text_sm">The hometown</h3>
            </div>
        </div>
    </div>
</div>
