.ProfileSection{
    display: flex;
    align-items: flex-end;
    height: 100%;
}
.ProfileSection img{
    display: block;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.SettingSlider{
    cursor: pointer;
}