@page
@model Server.Pages.Identity.LoginWith2FAModel
@{
}

<form method="post">
    <label>The code from the Authenticator app:</label>
    <div asp-validation-summary="All"></div>
    <input asp-for="@Model.authenticatorCode" />
    <button>Login</button>

    <a style="display: block;" asp-page="/RecoveryCodeLogin" asp-route-returnUrl="@Model.ReturnUrl">Login with Recovery Code</a>
</form>