@page
@model Server.Pages.Identity.LoginWithRecoveryCodeModel
@{
}

<form method="post">
    <label>Login with recovery codes instead:</label>
    <div asp-validation-summary="All"></div>
    <input asp-for="@Model.RecoveryCode" />
    <button>Login</button>
</form>