@page
@model WebAPI.Pages.Identity.LoginModel
@{
}

<div class="card">
    <partial name="_LogInSignUpSwitch" model=@(new LogInSignUpSwitchModel{ SignUpActive = false, ReturnUrl = Model.ReturnUrl })/>
    @{
        var providers = (await Model.SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
        <form asp-route-returnurl="@Model.ReturnUrl" method="post" asp-page-handler="ExternalLogin">
            <div>
                @foreach (var provider in providers)
                {
                    <button type="submit" value="@provider.Name" name="provider">@provider.Name</button>
                }
            </div>
        </form>
    }
</div>




