@page
@model WebAPI.Pages.Identity.LoginModel
@attribute [AllowAnonymous]
@{
}

<h1>Login</h1>

<h3>Choose a social log-in:</h3>
@{
    var providers = (await Model.SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
    <form asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal" asp-page-handler="ExternalLogin">
        <div>
            @foreach (var provider in providers)
            {
                <button type="submit" style="margin-right: 6px; font-size: 18px; font-weight: bolder;" value="@provider.Name" name="provider">@provider.Name</button>
            }
        </div>
    </form>
}

