@page
@model WebAPI.Pages.Identity.SignUpModel
@{
}

<h1>Sign Up</h1>

<h3>Sign Up with a social log-in: </h3>
@{
    var providers = (await Model.signInManager.GetExternalAuthenticationSchemesAsync()).ToList();
    <form asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal" asp-page-handler="ExternalRegister">
        <div>
            @foreach (var provider in providers)
            {
                <button type="submit" style="margin-right: 6px; font-size: 18px; font-weight: bolder;" value="@provider.Name" name="provider">@provider.Name</button>
            }
        </div>
    </form>
}


