.AccountManageContainer{
    align-self: start;
}
.AccountManageMain {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}
.LinkBody{
    height: 35px;
}
a.active .LinkBody{
    background-color: aqua;
}