@page "/Topics"

<div class="TopicsContainer">
    <div class="TopicsOverview">

    </div>
    <div class="TopicsDesigner">
        <aside>

        </aside>
        <div style="height: 100%; width: 100%;">
            @* <div class="DiagramContainer" ondragover="event.preventDefault();" dropzone @ondrop="OnDrop">

            </div> *@
        </div>
    </div>
</div>

