@page "/ManageTeam"
@attribute [AuthorizeTeamAdmin]

<div class="ManageTeamPageContainer">
    <h3>Manage your Team @Team.Name</h3>
    <div class="ManageTeamGrid">
        <div>
            <ManageMembersComponent/>
        </div>
        <div>
            <ManageSubscriptionCompoment/>
        </div>
    </div>
</div>

@code{
    
}
