@page "/ManageTeam"
@attribute [AuthorizeTeamAdmin]

<div class="ManageTeamPageContainer">
    <h3>Manage your Team @User.GetTeamName()</h3>
    <div class="ManageTeamGrid">
        <div>
            <ManageMembersComponent/>
        </div>
        <div>
            <ManageSubscriptionCompoment/>
        </div>
    </div>
</div>

@code{
    string s = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        HubConnection.On("UpdateUI", () =>
        {
            s = "David";
            StateHasChanged();
        });
    }
}
