@page "/ManageTeam"
@attribute [Authorize("TeamAdmin")]

<h3>Manage @Team.Name</h3>

<button @onclick="() => Modal.Show<InviteUserToTeamModalComponent>()">Invite Users to Team</button>

@code{
    
}
