@page
@model WebServer.Pages.Identity.Account.SubscriptionsModel
@{
}


<form asp-controller="Stripe" asp-action="Create" method="post">
    <input name="quantity" type="number" />
    <button type="submit" id="checkout-button">Manage Stripe</button>
</form>