@inject IHttpClientFactory httpClientFactory
@inject NavigationManager navigationManager

<div class="InviteUserToTeamContainer">
    <h3>Invite User through their E-Mail addresses to Team</h3>
    @foreach(var email in emails)
    {
        <h5>@email</h5>
    }
    <EditForm Model=@email>
        <DataAnnotationsValidator />
        <div class="form-group">
            <label>E-Mail</label>
            <OnInputBindInputText @bind-Value="email.EmailAddress"/>
            <ValidationMessage For="() => email.EmailAddress" />
        </div>
    </EditForm>
</div>


@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    private List<Email> emails;
    private Email email;

    protected override async Task OnInitializedAsync()
    {
        emails = new List<Email>();
        email = new Email();
    }
    
    private class Email
    {
        [EmailAddress]
        public string EmailAddress { get; set; }
    }
}
