@page "/channels"
@attribute [AuthorizeTeamUser]

<div class="ChannelsContainer">
    <div class="ChannelHeader">
        <h2>Engage with @User.GetTeamName()</h2>
    </div>
    <div class="ChannelMain">
        @if(loading is false)
        {
            if(channels.Count == 0)
            {
            
            }
            else
            {
                foreach(var channel in channels)
                {
                    <ChannelComp/>
                }
            }
        }      
    </div>
</div>
