@page "/channels"
@attribute [AuthorizeTeamUser]

<div class="ChannelsContainer">
    <div class="ChannelHeader">
        <h2>Engage with your colleagues from @TenantName</h2>
        <div class="CreateChannelContainer">
            <button @onclick="() => Modal.Show<CreateChannelComp>()">Create a new Channel</button>
        </div>
    </div>
    <div class="ChannelMain">
        @if(loading is false)
        {
            if(channels.Count > 0)
            {
                <div class="ChannelOverviewContainer">
                    @foreach(var channel in channels)
                    {
                        <div class="ChannelCompContainer">
                            <ChannelComp Channel="channel"/>
                        </div>
                    }
                </div>       
            }
        }      
    </div>
</div>
