@page "/"

<div class="DashboardContainer">
    <div class="DashboardHeader">
        <h3>Dashboard</h3>
    </div>
    <div class="DashboardMain">
        <div>

        </div>
        <div>

        </div>
    </div>
</div>