.ManageTeamPageContainer {
    height: 100%;
    width: 100%;
}
.ManageTeamGrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 1250px){
    .ManageTeamGrid{
        grid-template-columns: 1fr;
    }
}