.ManageTeamPageContainer {
    height: 100%;
    width: 100%;
}
.ManageTeamGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.ManageMembersCompContainer{
    grid-column: 1/3;
}
.ManageSubscriptionCompContainer{

}
.MetricsCompContainer{
    grid-column: 1/2;
}
.AdminNotificationsCompContainer{
    grid-column: 2/4;
}
