@page "/ManageTeam"
@attribute [AuthorizeTeamAdmin]

<div class="ManageTeamPageContainer">
    <h3>Manage your Team @User.GetTeamName()</h3>
    <div class="ManageTeamGrid">
        <div>
            <ManageMembersComp/>
        </div>
        <div>
            <ManageMembersComp/>
        </div>
    </div>
</div>

@code{
    private TeamAdminInfoDTO teamAdminInfo;
    protected override async Task OnInitializedAsync()
    {
        teamAdminInfo = await HttpClientService.GetFromAPIAsync<TeamAdminInfoDTO>("/");
    }
}
