@page "/ManageTeam"
@attribute [AuthorizeTeamAdmin]

<div class="ManageTeamPageContainer">
    <h3>@User.GetTeamName()</h3>
    <div class="ManageTeamGrid">
        @if(loading is false)
        {
            <div>
                <ManageMembersComp Members="teamAdminInfo.Members"/>
            </div>
            <div class="ManageSubscriptionCompContainer">
                <ManageSubscriptionComp CurrentSubscription="teamAdminInfo.Subscription"/>
            </div>
        }       
    </div>
</div>
