@page "/ManageTeam"
@attribute [AuthorizeTenantAdmin]
@inherits ManageTeamBase

<div class="ManageTeamPageContainer">
    <div class="ManageTeamGrid">
        @if(loading is false)
        {
            <CascadingValue Value="teamAdminInfo">
                 <div class="ManageMembersCompContainer">
                    <ManageMembersComponent Members="teamAdminInfo.Members"/>
                </div>
                <div class="ManageSubscriptionCompContainer">
                    <TenantIdentity.Client.Components.Subscription.ManageSubscriptionComponent CurrentSubscription="teamAdminInfo.Subscription"/>
                </div>
                <div class="MetricsCompContainer">
                    <TenantIdentity.Client.Components.Metrics.TenantMetricsComponent TeamMetrics="teamAdminInfo.Metrics"/>
                </div>
                <div class="AdminNotificationsCompContainer">
                    <TenantIdentity.Client.Components.Notifications.AdminNotificationsComponent AdminNotifications="teamAdminInfo.AdminNotifications"/>
                </div>
            </CascadingValue>      
        }       
    </div>
</div>
