.NavMenuContainer{
    display: flex;
    flex-direction: column;
    padding: 0 5px 5px 5px;
}
::deep .NavElement {
    color: black !important;
    margin-bottom: 7px;
    display: block;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4);
    padding-left: 3px;
    font-size: 1.1rem;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    text-decoration: none !important;
}
    ::deep .NavElement.active {
        background: rgba(255, 255, 255, 0.9);
    }
    ::deep .NavElement:hover {
        background: rgba(255, 255, 255, 0.9);
    }
    ::deep .NavElement.NoUnderline:hover {
        background: rgba(255, 255, 255, 0.4);
    }