<div class="CurrentTenantDisplayComponent">
    <div class="LogoNameSection">
        <img src="@Team.IconUrl"/>
        <h2>@Team.Name</h2>
        @if(User.IsInRole("Admin"))
        {
            <div class="RoleDisplay"> 
                <h5>Admin</h5>
            </div>
        }
    </div>  
</div>

