.CurrentTenantDisplayComponent{
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}
img{
    display: block;
}
.LogoNameSection{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.25rem;
    height: 100%;
}
.RoleDisplay{
    position: relative;
    top: -5px;
    font-size: 0.9rem;
    margin-left: 8px;
    align-self: start;
    padding: 3px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
}
.RoleDisplay h5{

}