@inject HttpClientService httpClientService
@inject NavigationManager navigationManager

<div class="GroupExpander" style="height: @(expanded ? "auto;" : "26.39px")">
    <div class="ExpanderTitle">
        <h3>Select Team</h3>
        @if (expanded)
        {
            <img class="ExpanderIcon Up" @onclick="() => Click()" src="/icons/angle-down.png"/>
        }
        else
        {
            <img class="ExpanderIcon" @onclick="() => Click()" src="/icons/angle-down.png"/>
        }
    </div>
    <div class="GroupOverview">
        @if (expanded)
        {
            if(teams == null)
            {
                <h5>Loading...</h5>
            }
            else if(teams.Count > 0)
            {
                foreach(var tenant in teams)
                {
                    if(CurrentTenant != null && tenant.Id == CurrentTenant.Id)
                    {
                        <div class="Group Selected">
                            <h5 @onclick='() => navigationManager.NavigateTo($"/api/team/setCurrent/{tenant.Id}", true)'>@tenant.Name</h5>
                        </div>
                    }
                    else
                    {
                        <div class="Group">
                            <h5>@tenant.Name</h5>
                            <button class="SelectTeamButton" @onclick='() => navigationManager.NavigateTo($"/api/team/setCurrent/{tenant.Id}", true)'>Select</button>
                        </div>
                    }       
                }
            }
            else
            {
                <div class="Group">
                    <h6>You are in no teams</h6>
                </div>
            }
        }
    </div>
</div>

@code{
    [CascadingParameter] public TeamDTO CurrentTenant { get; set; }
    private List<TeamDTO> teams;
    protected override async Task OnInitializedAsync()
    {
        teams = await httpClientService.GetFromAPI<List<TeamDTO>>("/team/all");
    }
    private bool expanded = true;
    public void Click()
    {
        expanded = !expanded;
        StateHasChanged();
    }
}
