html {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
}

blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

ol,
ul {
    list-style: none;
}

img {
    display: block;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

button {
    background-color: transparent;
    background-image: none;
    cursor: pointer;
}

img,
video {
    max-width: 100%;
    height: auto;
}

input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
