:root {
    --color1: #ffc3a0;
    --color2: #ffafbd;
}
body{
    margin: 0;
    height: 100vh;
}
.page {
    height: 100vh;
    color: black;
    background-image: linear-gradient(180deg, #FFFFFF, var(--color1));
}
nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
main{
    padding: 15px;
}
footer{
    padding: 15px;
}
.LogoContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.TitleAsideContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.TitleAsideContainer > h3{
    margin-right: 14px;
}
.LoginDisplayContainer{
    margin-left: 10px;
}
.LoginButton{
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
}