@page "/"
@inject IHttpClientFactory httpClient

<button @onclick="async()=> await Post()">Post</button>

@code{
    public async Task Post()
    {
        await httpClient.CreateClient("authorizedClient").PostAsJsonAsync("api/tenant", new { Name = "David" });
    }
}
